# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# =============================== #
# Large Build Files Stored In AWS #
# =============================== #
Builds/
*.pdb

# +++++++++++++++++++++++++++++++ #
# custom - just import these from the Asset Store, because they are too large.
# +++++++++++++++++++++++++++++++ #
Assets/Imported_Assets/Arkham\ Interactive*
Assets/UBER*
Assets/_all_skyboxes/Wispy Sky*
Assets/uShader*
